.searchInput {
    margin-top: 50px;
    display: flex;
    position: relative;
    /* border: 1px solid red; */
    height: 30px;
    width: 300px;
    
}

.search input{
    background-color: white;
    /* border: 2em; */
    border-radius: 10px;
    border-top-right-radius: opx;
    border-top-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
    



}

.searchicon{
    position: absolute;
right: 10px;
top: 50%;
transform:translateY(-50%);
}